[submodule "GoodEngine/external/glfw"]
	path = GoodEngine/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "GoodEngine/external/spdlog"]
	path = GoodEngine/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "GoodEndine/external/imgui"]
	path = GoodEndine/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "GoodEngine/external/imgui"]
	path = GoodEngine/external/imgui
	url = https://github.com/ocornut/imgui.git
